{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<p id="message">
    Data Science Master allows you to manage your Employees in a easy way. You have complete control over the details of the registered Employees. Manage the roles,salary grades and roles of your Employees without hassle in simple clicks.
</p>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Data Science</h1>
                    <h3>Manage your Employees in the most perfect way</h3>
                    </ul>
                    <br>
                    <br>
                    <br>
                    <a href="{{ url_for('auth.login') }}" id="in">Administrator Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}