{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block title %} {% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    {% if add_grade %}
                    <h1>Add Employee Grades</h1>
                    {% else %}
                    <h1>Edit Employee Grades</h1>
                    {% endif %}
                    <br/> {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}